<!-- Hans Dewitte -->

<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"></head>
<body>
    <nav th:replace="fragments::menu"></nav>
    <h1>U hebt geen toegang tot dit onderdeel.</h1>
    <a th:href="${@lastVisitedPage.getUrl()}">Ga terug</a>
</body>
</html>