<!-- Hans Dewitte -->
<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"></head>
<body>
    <nav th:replace="fragments::menu"></nav>
    <h1>Er is een technische fout opgetreden.</h1>
    <a th:href="${@lastVisitedPage.getUrl()}">Ga terug</a>
</body>
</html>