/* Hans Dewitte */
nav a {
  padding: 0.2em;
}

table {
  border-collapse: collapse;
}
table th, table td {
  border: 2px solid darkgray;
}
table thead tr, table tbody tr:nth-child(even) {
  background-color: deeppink;
}
table td.nummer {
  text-align: right;
}

label {
  display: block;
}

input {
  display: block;
  margin-left: 2rem;
}
input[type=submit] {
  margin-top: 0.5rem;
}

.error {
  background-color: white;
  color: red;
}

/*# sourceMappingURL=stijl.css.map */
