/* Hans Dewitte */

nav a
  padding: 0.2em

table
  border-collapse: collapse
  th, td
    border: 2px solid darkgray
  thead tr, tbody tr:nth-child(even)
    background-color: deeppink
  td.nummer
    text-align: right

label
  display: block

input
  display: block
  margin-left: 2rem
  &[type="submit"]
    margin-top: 0.5rem

.error
  background-color: white
  color: red