<!-- Hans Dewitte -->
<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"></head>
<body>
    <nav th:replace="fragments::menu"></nav>
    <h1>
        Bevestigen
        <img th:src="@{/images/bevestig.png}" alt="stempel">
    </h1>

    <h2>Stap 1: wie ben je?</h2>
    <section id="niet-ingelogd" th:if="${klant} == null">
        <form th:action="@{/login}" method="post">
            <label>
                Gebruikersnaam:
                <input name="username" required autofocus>
            </label>
            <label>
                Paswoord:
                <input name="password" type="password" required>
            </label>
            <span th:if="${param.error}" class="error">
            Verkeerde gebruikersnaam of paswoord
        </span>
            <input type="submit" value="Zoek me op">
        </form>
        <form th:action="@{/login/nieuweklant}" method="get">
            <input type="submit" value="Ik ben nieuw">
        </form>
    </section>
    <section id="ingelogd" th:unless="${klant} == null" th:object="${klant}">
        <span th:text="*{voornaam}"></span>
        <span th:text="*{familienaam}"></span>
        <span th:text="*{adres.straat}"></span>
        <span th:text="*{adres.huisnr}"></span>
        <span th:text="*{adres.postcode}"></span>
        <span th:text="*{adres.gemeente}"></span>

        <h2>Stap 2: bevestigen</h2>
        <form th:action="@{/bevestigen/bevestigen}" method="post">
            <input type="submit" value="Bevestigen">
        </form>
    </section>
</body>
</html>