<!-- Hans Dewitte -->
<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Cultuurhuis</title>
    <link rel="stylesheet" th:href="@{/css/stijl.css}">
    <link rel="icon" th:href="@{/images/cultuurhuis.ico}">
</head>
<body>
    <nav th:fragment="menu">
        <a th:href="@{/}">Voorstellingen</a>
        <span th:unless="${@mandje.isLeeg()}">
            <a th:href="@{/mandje}">Mandje</a>
            <a th:href="@{/bevestigen}">Bevestigen</a>
        </span>

    </nav>
    <section th:fragment="voorstellingenPerGenre">
        <h1>
            Voorstellingen
            <img th:src="@{/images/voorstellingen.png}" alt="buste">
        </h1>
        <h2>Genres</h2>
        <nav id="genres">
            <a th:each="genre : ${genres}" th:object="${genre}"
               th:href="@{/genre/{id}(id = *{id})}"
               th:text="*{naam}">
            </a>
        </nav>
    </section>
</body>
</html>