<!-- Hans Dewitte -->
<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"></head>
<body>
    <nav th:replace="fragments::menu"></nav>
    <section th:replace="fragments::voorstellingenPerGenre"></section>
    <section th:if="${genre} != null" th:object="${genre}">
        <h2 th:text="|*{naam}voorstellingen|"></h2>
        <table>
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Titel</th>
                    <th>Uitvoerders</th>
                    <th>Prijs</th>
                    <th>Vrije plaatsen</th>
                    <th>Reserveren</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="voorstelling : ${voorstellingen}" th:object="${voorstelling}">
                    <td th:text="*{{datum}}"></td>
                    <td th:text="*{titel}"></td>
                    <td th:text="*{uitvoerders}"></td>
                    <td th:text="*{{prijs}}"></td>
                    <td class="nummer" th:text="*{vrijeplaatsen}"></td>
                    <td th:if="*{vrijeplaatsen} > 0">
                        <a th:href="@{/voorstelling/{id}(id = *{id})}">Reserveren</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>