<!-- Hans Dewitte -->
<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"></head>
<body>
    <nav th:replace="fragments::menu"></nav>
    <h1>
        Mandje
        <img th:src="@{/images/mandje.png}" alt="mandje">
    </h1>
    <form method="post" th:action="@{/mandje}">
        <table>
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Titel</th>
                    <th>Uitvoerders</th>
                    <th>Prijs</th>
                    <th>Plaatsen</th>
                    <th>
                        <input type="submit" value="Verwijderen">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="reservatie : ${reservaties}"
                    th:object="${reservatie.voorstelling}">
                    <td th:text="*{{datum}}"></td>
                    <td>
                        <a th:href="@{/voorstelling/{id}(id = *{id})}"
                           th:text="*{titel}"></a>
                    </td>
                    <td th:text="*{uitvoerders}"></td>
                    <td th:text="*{{prijs}}"></td>
                    <td class="nummer" th:text="${reservatie.plaatsen}"></td>
                    <td>
                        <input type="checkbox" name="verwijder" th:value="*{id}">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <p>Te betalen: <span th:text="${#numbers.formatCurrency(totaal)}"></span></p>
</body>
</html>