<!-- Hans Dewitte -->
<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"></head>
<body>
    <nav th:replace="fragments::menu"></nav>
    <h1>
        Nieuwe klant
        <img th:src="@{/images/nieuweklant.png}">
    </h1>
    <form method="post" th:action="@{/login/nieuweklant}"
          th:object="${nieuweKlant}">
        <label>
            Voornaam
            <span th:errors="*{voornaam}" class="error"></span>
            <input th:field="*{voornaam}" required>
        </label>
        <label>
            Familienaam
            <span th:errors="*{familienaam}" class="error"></span>
            <input th:field="*{familienaam}" required>
        </label>
        <label>
            Straat
            <span th:errors="*{straat}" class="error"></span>
            <input th:field="*{straat}" required>
        </label>
        <label>
            Huisnr.
            <span th:errors="*{huisnr}" class="error"></span>
            <input th:field="*{huisnr}" required>
        </label>
        <label>
            Postcode
            <span th:errors="*{postcode}" class="error"></span>
            <input th:field="*{postcode}" required>
        </label>
        <label>
            Gemeente
            <span th:errors="*{gemeente}" class="error"></span>
            <input th:field="*{gemeente}" required>
        </label>
        <label>
            Gebruikersnaam
            <span th:errors="*{gebruikersnaam}" class="error"></span>
            <input th:field="*{gebruikersnaam}" required>
        </label>
        <div th:if="${#fields.hasGlobalErrors()}">
                <span class="error" th:each="err : ${#fields.globalErrors()}"
                      th:text="${err}">
                </span>
        </div>
        <label>
            Paswoord
            <span th:errors="*{paswoord}" class="error"></span>
            <input th:field="*{paswoord}" type="password" required>
        </label>
        <label>
            Herhaal paswoord
            <span th:errors="*{herhaalPaswoord}" class="error"></span>
            <input th:field="*{herhaalPaswoord}" type="password" required>
        </label>
        <input type="submit" value="OK">
    </form>
</body>
</html>