<!-- Hans Dewitte -->
<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"></head>
<body>
    <nav th:replace="fragments::menu"></nav>
    <h1>
        Overzicht
        <img th:src="@{/images/bevestig.png}" alt="stempel">
    </h1>

    <h2>Gelukte reservaties</h2>
    <table>
        <thead>
            <tr>
                <th>Datum</th>
                <th>Titel</th>
                <th>Uitvoerders</th>
                <th>Prijs</th>
                <th>Plaatsen</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="reservatie : ${gelukteReservaties}"
                th:object="${reservatie.voorstelling}">
                <td th:text="*{{datum}}"></td>
                <td th:text="*{titel}"></td>
                <td th:text="*{uitvoerders}"></td>
                <td th:text="*{{prijs}}"></td>
                <td class="nummer" th:text="${reservatie.plaatsen}"></td>
            </tr>
        </tbody>
    </table>

    <h2>Mislukte reservaties</h2>
    <table>
        <thead>
        <tr>
            <th>Datum</th>
            <th>Titel</th>
            <th>Uitvoerders</th>
            <th>Prijs</th>
            <th>Plaatsen</th>
            <th>Vrije plaatsen</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservatie : ${mislukteReservaties}"
            th:object="${reservatie.voorstelling}">
            <td th:text="*{{datum}}"></td>
            <td th:text="*{titel}"></td>
            <td th:text="*{uitvoerders}"></td>
            <td th:text="*{{prijs}}"></td>
            <td class="nummer" th:text="${reservatie.plaatsen}"></td>
            <td class="nummer" th:text="*{vrijeplaatsen}"></td>
        </tr>
        </tbody>
    </table>

</body>
</html>