<!-- Hans Dewitte -->
<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"></head>
<body th:object="${voorstelling}">
    <nav th:replace="fragments::menu"></nav>
    <h1>
        <span th:text="*{titel}"></span>
        -
        <span th:text="*{uitvoerders}"></span>
        <img th:src="@{/images/reserveren.png}" alt="stoel">
    </h1>
    <dl>
        <dt>Voorstelling</dt>
        <dd th:text="*{titel}"></dd>
        <dt>Uitvoerders</dt>
        <dd th:text="*{uitvoerders}"></dd>
        <dt>Datum</dt>
        <dd th:text="*{{datum}}"></dd>
        <dt>Prijs</dt>
        <dd th:text="*{{prijs}}"></dd>
        <dt>Vrije plaatsen</dt>
        <dd th:text="*{vrijeplaatsen}"></dd>
    </dl>
    <form method="post" th:action="@{/voorstelling/{id}(id = *{id})}">
        <label>
            Plaatsen
            <input name="aantal" th:value="${aantal}" type="number" required min="1" autofocus>
            <span class="error" th:if="${fout}">
                Aantal moet groter zijn dan nul
            </span>
        </label>
        <input type="submit" value="Reserveren">
    </form>
</body>
</html>